<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
      .chalmers
      {
        background-image: url('https://images.squarespace-cdn.com/content/v1/58514e22b3db2bd1b02764e8/1502723227731-V0M6LNIO7H6JCG894SMC/Chalmers-logo.jpg');
        background-repeat: no-repeat;
        background-size: 130px 130px;
        width: 130px;
        height: 130px;
      }

    </style>
    <title>About</title>
  </head>

  <body onload="onload()"class="d-flex flex-column min-vh-100">

  <div class="container">
    <div class="d-grid gap-3">
      <div class="row p-4">
        <h1 class="text-center" th:text="${about_title}"></h1>
      </div>

      <div class="row p-2 row-md-3 row-lg-4">
        <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
        </div>
        <div class="col-10 col-sm-8 col-md-6 col-lg-4">
          <p>
            Routemeister is an application suitable for both mobile and website
            use, whose purpose is to generate a walking route based
            on the user’s preferences. These preferences include length,
            time, elevation, terrain, and availability for wheelchairs
            and strollers. The idea behind Routemeister is to let users find new
            routes and explore new parts of a city that would otherwise
            go unexplored.
            </p>

          <p>
            This application is part of a project course in
            agile software programming done at Chalmers university,
            where the scope was to make an application that is somehow connected to
            <a href="https://sdgs.un.org/goals">the United Nations sustainable development goals</a>
            . This project is centred
            around goal 3.4, reduce mortality from non-communicable diseases and promote mental health, and goal
            11.7, provide access to safe and inclusive green and public spaces.
          </p>

          <p>
            The people involved in this project is Wincent Holm, Rasmus Standar, Oscar Marrero Engström, Viktoria Hagenbo,
            Isak Holmdahl, Marcus Phu, and Lovisa Rosin.
          </p>
        </div>
        <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!-- en tom col-->
        </div>
      </div>

      <!--chalmers logo?-->

    </div>
  </div>


  <footer class="container w-100 mt-auto pb-2">
    <div class="row row-md-3 row-lg-4">
      <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
      </div>
      <div class="col-10 col-sm-8 col-md-6 col-lg-4">
        <a class="btn btn-secondary w-100" type="back" id="back-button" href="/">
          <label for="back-button" th:text="${back_button}"></label>
        </a>
      </div>
      <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!-- en tom col-->
      </div>
    </div>
  </footer>


  <script>
      
      function onload(){
        toggleDarkMode();
      }
    </script>

    <script type = "text/javascript" src="/darkModeHandler.js"></script>
    <script type = "text/javascript" src="/cookieHandler.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  </body>
</html>