<!DOCTYPE html>
<html lang="en">
<!-- head= background, "the backend" of html. <link hfref: links to bootstrap -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

        <link rel="icon" href="favicon.png" type="image/x-icon">

        <title>New Route</title>

    </head>

    <body onload="onload()" class="d-flex flex-column min-vh-100">

    <div class="container">

        <!--
            Icon
        -->
        <div class="row mt-0 p-0">
            <div class="col-5">
            </div>
            <div class="col-2 p-0">
                <div class="w-100 text-center container">
                    <div id="icon-display" class="h-100 text-center container p-2 mt-0" style="background-color: #B7CBFA !important; border-radius:0 0 50px 50px; width: 80px;">
                        <a href="/">
                            <img src="icon.png" alt="icon" width="64" height="64">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-5">
            </div>
        </div>

        <div class="d-grid gap-3">

            <div class="row p-0">

                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
                </div>

                <div class="col-10 col-sm-8 col-md-6 col-lg-4"></div>

                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
                </div>

            </div>

            <div class="row p-0">

                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
                </div>

                <div class="col-10 col-sm-8 col-md-6 col-lg-4"></div>

                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
                </div>

            </div>

            <div class="row p-0">

                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
                </div>

                <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                    <h2 class="text-center" for="new-route" th:text="${new_route_button}"></h2>
                </div>

                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
                </div>

            </div>

            <div class="row p-0">

                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
                </div>

                <div class="col-10 col-sm-8 col-md-6 col-lg-4"></div>

                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
                </div>

            </div>

            <div class="row p-0">

                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
                </div>

                <div class="col-10 col-sm-8 col-md-6 col-lg-4"></div>

                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
                </div>

            </div>

            <div class="row p-0">
                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
                </div>

                <div class="col-6 col-sm-5 col-md-4 col-lg-3">
                    <h6 for="customDistance" th:text="${time_hours_slider}" class="form-label" >Time</h6>
                </div>

                <div class="col-4 col-sm-3 col-md-2 col-lg-1">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="disableTime" oninput="toggleDisableTime()">
                        <label class="form-check-label" th:text="${disable_checkbox}">Disable</label>
                    </div>
                </div>

                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!-- en tom col-->
                </div>
            </div>

            <div class="row p-0">
                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
                </div>


                <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                    <input type="range" class="form-range" min="0" max="36" step="1" value="0" id="customTime" name="length" oninput="setTime(this.value)">

                    <!-- diplay time adjacent to slider -->
                    <output id="hours"></output>
                    <label>h</label>
                    <output id="minutes"></output>
                    <label>min</label>
                </div>

                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!-- en tom col-->
                </div>
            </div>


            <div class="row p-0">
                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
                </div>

                <div class="col-6 col-sm-5 col-md-4 col-lg-3">
                    <h6 for="customDistance" th:text="${length_slider}" class="form-label">Length in kilometers</h6>
                </div>

                <div class="col-4 col-sm-3 col-md-2 col-lg-1">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="disableLength" oninput="toggleDisableLength()">
                        <label class="form-check-label" th:text="${disable_checkbox}">Disable</label>
                    </div>
                </div>

                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!-- en tom col-->
                </div>
            </div>



            <div class="row p-0">
                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
                </div>

                <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                    <input type="range" class="form-range"  min="0" max="10" step="0.25" value="0" id="customDistance" name="distance" oninput="setDistance(this.value)">

                    <!-- display distance adjacent to slider -->
                    <output id="distance">0</output>

                    <!-- if unit == metric -->
                    <label th:if="${unit == 'metric'}" for="customDistance">km</label>

                    <!-- if unit == imperial -->
                    <label th:if="${unit == 'imperial'}" for="customDistance">miles</label>

                </div>

                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!-- en tom col-->
                </div>
            </div>

            <div class="row p-0">
                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
                </div>

                <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                    <h6 for="customDistance" th:text="${elevation_buttons}" class="form-label">Elevation</h6>
                    <div class="btn-group btn-group-lg d-flex" role="group" aria-label="Elevation" id="Elevation">

                        <input type="radio" class="btn-check" name="btnradio1" id="low" onClick="setCookie('elevation', 'low', 365)">
                        <label class="btn btn-outline-primary low_elevation" th:text="${low_elevation_button}" for="low">Low</label>

                        <input type="radio" class="btn-check" name="btnradio1" id="medium" onClick="setCookie('elevation', 'medium', 365)">
                        <label class="btn btn-outline-primary medium_elevation" th:text="${medium_elevation_button}"for="medium">Medium</label>

                        <input type="radio" class="btn-check" name="btnradio1" id="high" onClick="setCookie('elevation', 'high', 365)">
                        <label class="btn btn-outline-primary high_elevation" th:text="${high_elevation_button}"for="high">High</label>
                    </div>
                </div>

                <div class="col-4 col-sm-3 col-md-2 col-lg-1">
                    <!--
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="disableElevation">
                        <label class="form-check-label" th:text="${disable_checkbox}">Disable</label>
                    </div>
                    -->
                </div>

                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!-- en tom col-->
                </div>
            </div>

<!--
            <div class="row p-0">
                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> --> <!-- en tom col-->
   <!--             </div>

                <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                    <input type="range" class="form-range"  min="0" max="500" step="10" value="0" id="customElevation" name="elevation" oninput="setElevation(this.value)">
                </div>

                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> --> <!-- en tom col-->
    <!--            </div>
            </div> -->

            <div class="row p-2 row-md-3 row-lg-4">
                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
                </div>

                <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                        <div class="card-group">
                            <div class="card text-center">
                                <img src="/urban.jpg" class="card-img-top" alt="urban" onClick="terrainImgClick('urban')">
                                <div class="card-footer">
                                    <input type="radio" class="btn-check" name="terrain" id="urban" onClick="setCookie('terrain', 'urban', 365)">
                                    <label class="btn urban" for="urban" th:text="${urban_button}"></label>
                                </div>
                            </div>
                            <div class="card text-center">
                                <img src="/nature.png" class="card-img-top" alt="nature" onClick="terrainImgClick('nature')">
                                <div class="card-footer">
                                    <input type="radio" class="btn-check" name="terrain" id="nature" onClick="setCookie('terrain', 'nature', 365)">
                                    <label class="btn nature" for="nature" th:text="${nature_button}"></label>
                                </div>
                            </div>
                            <div class="card text-center">
                                <img src="/water.jpg" class="card-img-top" alt="water" onClick="terrainImgClick('water')">
                                <div class="card-footer">
                                    <input type="radio" class="btn-check" name="terrain" id="water" onClick="setCookie('terrain', 'water', 365)">
                                    <label class="btn water" for="water" th:text="${water_button}"></label>
                                </div>
                            </div>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="disableTerrain" onClick="disableTerrain()">
                            <label class="form-check-label" th:text="${disable_checkbox}"></label>
                        </div>
                </div>

                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!-- en tom col-->
                </div>
            </div>
        
            <div class="row p-2">
                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
                </div>

                <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault" th:text="${accesible_disabilities}"></label>
                    </div>
                </div>

                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!-- en tom col-->
                </div>
            </div>
        </div>
    </div>



    <footer class="container w-100 mt-auto pb-2">
        <div class="row row-md-3 row-lg-4">
            <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
            </div>
            <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                <div class="w-100 btn btn-success btn-md" id="generate-route-button" role="button" onclick="setCookie('routeID', '1', 9000);generateRoute();">
                    <label for="generate-route-button" th:text="${generate_route_button}"></label>
                </div>

                <div class="w-100 btn btn-secondary btn-md" id="generate-route-button-waiting" role="button" disabled>
                    <label for="generate-route-button-waiting" th:text="${generate_route_button_waiting}"></label>
                </div>
            </div>
            <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!-- en tom col-->
            </div>
        </div>

        <div class="row p-2 row-md-3 row-lg-4">
            <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
            </div>
        </div>
        <div class="row row-md-3 row-lg-4">
            <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
            </div>
            <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                <a class="btn btn-secondary w-100" type="back" id="back-button" href="/">
                    <label for="back-button" th:text="${back_button}"></label>
                </a>
            </div>
            <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!-- en tom col-->
            </div>
        </div>
    </footer>
    
    <script>
        let hasLocation = false;

        // Hide the generate button if the user has not selected a location
        document.getElementById("generate-route-button").style.display = "none";
        document.getElementById("generate-route-button-waiting").style.display = "block";

        function onload(){

            let cookie = getCookie("disabledTime", "false");

            console.log("disabledTime: " + cookie);

            if(cookie === "false"){
                document.getElementById("disableLength").checked = true;

                enableTime();
                disableDistance();
            } else {
                document.getElementById("disableTime").checked = true;

                enableDistance();
                disableTime();
            }

            cookie = getCookie("elevation", "0");
            document.getElementById("Elevation").value = cookie;
            if (cookie === "low") {
                document.getElementById("low").checked = true;
            } else if (cookie === "medium") {
                document.getElementById("medium").checked = true;
            } else if (cookie === "high") {
                document.getElementById("high").checked = true;
            }

            cookie = getCookie("terrain", "0");
            if (cookie === "urban") {
                document.getElementById("urban").checked = true;
            } else if (cookie === "nature") {
                document.getElementById("nature").checked = true;
            } else if (cookie === "water") {
                document.getElementById("water").checked = true;
            }


            toggleDarkMode();
            document.getElementById("nature").style.backgroundImage = "url('nature.png')";

            setInterval(function() {
                navigator.geolocation.getCurrentPosition(success);
            }, 1000);

        }

        function setTime(time){
            let hours = Math.floor(time / 12);
            let minutes = (time % 12)*5;
            setCookie("hours", hours, 9000);
            setCookie("minutes", minutes, 9000);

            if(minutes === 0){
                document.getElementById("minutes").value = "00";
            } else {
                document.getElementById("minutes").value = minutes;
            }
            document.getElementById("hours").value = hours;
        }

        function setDistance(distance){
            setCookie("distance", distance, 9000);

            document.getElementById("distance").value = parseFloat(distance).toFixed(2);
            document.getElementById("customDistance").value = parseFloat(distance).toFixed(2);
        }


        function generateRoute(){
            if (!hasLocation) {
                alert("We have been unable to find your location, please try again later");
                return;
            }

            let lat = getCookie("locationLat", "0");
            let lon = getCookie("locationLon", "0");
            let hours = document.getElementById("hours").value;
            let minutes = document.getElementById("minutes").value;
            let distance = document.getElementById("distance").value;
            let terrain = getCookie("terrain", "0");
            let elevation = document.getElementById("Elevation").value;

            let accessible = document.getElementById("flexCheckDefault").checked;
            
            let url = "/route-api/start?hours=" + hours + "&minutes=" + minutes + "&distance=" + distance + "&elevation=" + elevation + "&terrain=" + terrain + "&lat=" + lat + "&lon=" + lon + "&accessible=" + accessible;

            $.get(url, function(data) {
                let routeId = data.id;
                setCookie("routeID", routeId, 1);

                window.location.href = "/loading";
            }, "json");
        }

        function success(pos){
            setCookie("locationLat", pos.coords.latitude, 9000);
            setCookie("locationLon", pos.coords.longitude, 9000);
            
            if (!hasLocation) {
                hasLocation = true;
                document.getElementById("generate-route-button").style.display = "block";
                document.getElementById("generate-route-button-waiting").style.display = "none";
            }
        }

        function getTimeSliderValue(){
            let hours = getCookie("hours", "0");
            let minutes = getCookie("minutes", "0");

            return hours*4 + minutes/15;
        }

        function getDistanceSliderValue(){
            return getCookie("distance", "0");
        }

        function enableTime(){
            document.getElementById("customTime").disabled = false;

            document.getElementById("customTime").value = getTimeSliderValue();
            document.getElementById("hours").value = Math.floor(getTimeSliderValue() / 4);
            document.getElementById("minutes").value = (getTimeSliderValue() % 4)*15;

            setCookie("disabledTime", "false");
        }

        function disableTime(){
            document.getElementById("customTime").disabled = true;

            document.getElementById("customTime").value = 0;
            document.getElementById("hours").value = 0;
            document.getElementById("minutes").value = 0;

            setCookie("disabledTime", "true");
        }

        function enableDistance(){
            document.getElementById("customDistance").disabled = false;

            document.getElementById("customDistance").value = getDistanceSliderValue();
            document.getElementById("distance").value = getDistanceSliderValue();

            setCookie("disabledTime", "true");
        }

        function disableDistance(){
            document.getElementById("customDistance").disabled = true;

            document.getElementById("customDistance").value = 0;
            document.getElementById("distance").value = 0;

            setCookie("disabledTime", "false");
        }

        function toggleDisableLength(){
            if(document.getElementById("disableLength").checked){
                setCookie("disabledTime", "false");

                document.getElementById("disableTime").checked = false;

                enableTime();
                disableDistance();
            } else {
                setCookie("disabledTime", "true");

                document.getElementById("disableTime").checked = true;

                disableTime();
                enableDistance();
            }
        }

        function disableTerrain(){
            if(document.getElementById("disableTerrain").checked) {
                document.getElementById("urban").disabled = true;
                document.getElementById("nature").disabled = true;
                document.getElementById("water").disabled = true;
                document.getElementById("urban").checked = false;
                document.getElementById("nature").checked = false;
                document.getElementById("water").checked = false;
                setCookie("terrain", "", 365);
            }
            else {
                document.getElementById("urban").disabled = false;
                document.getElementById("nature").disabled = false;
                document.getElementById("water").disabled = false;
            }
        }

        function toggleDisableTime(){
            console.log("disableTime triggered!");
            if(document.getElementById("disableTime").checked){
                setCookie("disabledTime", "true");

                document.getElementById("disableLength").checked = false;

                disableTime();
                enableDistance();
            } else {
                setCookie("disabledTime", "false");

                document.getElementById("disableLength").checked = true;

                enableTime();
                disableDistance();
            }
        }

        function terrainImgClick(t) {
            if(!document.getElementById("disableTerrain").checked) {
                setCookie("terrain", t, 365);
                document.getElementById(t).checked = true;
            }
        }


    </script>

    <!-- länk till js bibliotek -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script type = "text/javascript" src="/darkModeHandler.js"></script>
    <script type = "text/javascript" src="/cookieHandler.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

    </body>
</html>