<!DOCTYPE html>
<html lang="en">
<!-- head= background, "the backend" of html. <link hfref: links to bootstrap -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


        <title>New Route</title>

        <style>
  .water
  {
    background-image: url('https://images.unsplash.com/photo-1463288889890-a56b2853c40f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&w=1000&q=80');

    background-size: 170px 55px;
    background-repeat: no-repeat;
  }

  .urban
  {
    background-image: url('https://media.istockphoto.com/photos/professional-use-auto-advertising-backplate-picture-id619498880?b=1&k=20&m=619498880&s=170667a&w=0&h=bExMHjkoS4WIlZ7QWZlHePlVvroStbiGi8WjICodRGY=');

    background-size: 170px 55px;
    background-repeat: no-repeat;
  }

  .nature
  {
    background-image: url('https://cdn.pixabay.com/photo/2018/08/21/23/29/forest-3622519__340.jpg');
    background-size: 170px 55px;
    background-repeat: no-repeat;
   }
        </style>
    </head>

    <body onload="onload()" class="d-flex flex-column min-vh-100">

    <div class="container">

        <div class="d-grid gap-3">
            <div class="row p-4">
                <h2 class="text-center">
                    Lat:
                    <output id="lat"></output>
                </h2>
                <h2 class="text-center">
                    Lon:
                    <output id="lon"></output>
                </h2>
            </div>

            <div class="row p-0">
                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
                </div>

                <div class="col-6 col-sm-5 col-md-4 col-lg-3">
                    <label for="customDistance" th:text="${time_hours_slider}" class="form-label" >Time</label>
                </div>

                <div class="col-4 col-sm-3 col-md-2 col-lg-1">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="disableTime" oninput="toggleDisableTime()">
                        <label class="form-check-label" th:text="${disable_checkbox}">Disable</label>
                    </div>
                </div>

                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!-- en tom col-->
                </div>
            </div>

            <div class="row p-0">
                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
                </div>


                <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                    <input type="range" class="form-range" min="0" max="40" step="1" value="0" id="customTime" name="length" oninput="setTime(this.value)">
                </div>

                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!-- en tom col-->
                </div>
            </div>


            <div class="row p-0">
                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
                </div>

                <div class="col-6 col-sm-5 col-md-4 col-lg-3">
                    <label for="customDistance" th:text="${length_slider}" class="form-label">Length in kilometers</label>
                </div>

                <div class="col-4 col-sm-3 col-md-2 col-lg-1">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="disableLength" oninput="toggleDisableLength()">
                        <label class="form-check-label" th:text="${disable_checkbox}">Disable</label>
                    </div>
                </div>

                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!-- en tom col-->
                </div>
            </div>



            <div class="row p-0">
                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
                </div>

                <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                    <input type="range" class="form-range"  min="0" max="20" step="0.5" value="0" id="customDistance" name="distance" oninput="setDistance(this.value)">

                </div>

                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!-- en tom col-->
                </div>
            </div>

            <div class="row p-0">
                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
                </div>

                <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                    <label for="customDistance" th:text="${elevation_buttons}" class="form-label">Elevation</label>
                    <div class="btn-group btn-group-lg d-flex" role="group" aria-label="Elevation" id="Elevation">

                        <input type="radio" class="btn-check" name="btnradio" id="low" onClick="setCookie('elevation', 'low', 365)">
                        <label class="btn btn-outline-primary low_elevation" th:text="${low_elevation_button}" for="low">Low</label>

                        <input type="radio" class="btn-check" name="btnradio" id="medium" onClick="setCookie('elevation', 'medium', 365)">
                        <label class="btn btn-outline-primary medium_elevation" th:text="${medium_elevation_button}"for="medium">Medium</label>

                        <input type="radio" class="btn-check" name="btnradio" id="high" onClick="setCookie('elevation', 'high', 365)">
                        <label class="btn btn-outline-primary high_elevation" th:text="${high_elevation_button}"for="high">High</label>
                    </div>
                </div>

                <div class="col-4 col-sm-3 col-md-2 col-lg-1">
                    <!--
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="disableElevation">
                        <label class="form-check-label" th:text="${disable_checkbox}">Disable</label>
                    </div>
                    -->
                </div>

                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!-- en tom col-->
                </div>
            </div>

<!--
            <div class="row p-0">
                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> --> <!-- en tom col-->
   <!--             </div>

                <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                    <input type="range" class="form-range"  min="0" max="500" step="10" value="0" id="customElevation" name="elevation" oninput="setElevation(this.value)">
                </div>

                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> --> <!-- en tom col-->
    <!--            </div>
            </div> -->


            <div class="container w-100 mt-auto pb-2">
                <div class="row row-md-3 row-lg-4">
                    <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
                    </div>
                    <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                        <div class="w-100 btn btn-info btn-md disabled" id="new-route-button" role="button">
                            <div>
                                <label for="new-route-button" th:text="${time}"></label>
                                <output id="hours"></output>
                                <label>h</label>
                                <output id="minutes"></output>
                                <label>min</label>
                            </div>
                            
                            <div>
                                <label for="new-route-button" th:text="${distance}"></label>
                                <output id="distance">0</output>
    
                                <!-- if unit == metric -->
                                <label th:if="${unit == 'metric'}" for="new-route-button">km</label>
                                
                                <!-- if unit == imperial -->
                                <label th:if="${unit == 'imperial'}" for="new-route-button">miles</label>    
                            </div>
                            
                            <div>
                                <label for="new-route-button" th:text="${elevation}"></label>
                                <output id="elevation">0</output>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!-- en tom col-->
                    </div>
                </div>
            </div>



            <div class="row p-2 row-md-3 row-lg-4">
                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
                </div>

                <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                    <div class="btn-group btn-group-lg d-flex" role="group" aria-label="Terrain" id="Terrain">

                        <input type="radio" class="btn-check" name="btnradio" id="urban" onClick="setCookie('terrain', 'urban', 365)">
                        <label class="btn btn-outline-primary urban" th:text="${urban_button}" for="urban">Urban</label>

                        <input type="radio" class="btn-check" name="btnradio" id="nature" onClick="setCookie('terrain', 'nature', 365)">
                        <label class="btn btn-outline-primary nature" th:text="${nature_button}"for="nature">Nature</label>

                        <input type="radio" class="btn-check" name="btnradio" id="water" onClick="setCookie('terrain', 'water', 365)">
                        <label class="btn btn-outline-primary water" th:text="${water_button}"for="water">Water</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="disableTerrain">
                        <label class="form-check-label" th:text="${disable_checkbox}">Disable terrain</label>
                    </div>

                </div>

                <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!-- en tom col-->
                </div>
            </div>
        </div>
        
        <div class="row p-2">
            <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
            </div>

            <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault" th:text="${accesible_disabilities}">
                        Only include routes accesible to people with disabilties
                    </label>
                </div>
            </div>

            <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!-- en tom col-->
            </div>
        </div>
    </div>

    <div class="container w-100 mt-auto pb-2">
        <div class="row row-md-3 row-lg-4">
            <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
            </div>
            <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                <div class="w-100 btn btn-success btn-md" id="generate-route-button" role="button" onclick="setCookie('routeID', '1', 9000);generateRoute();">
                    <label for="generate-route-button" th:text="${generate_route_button}"></label>
                </div>
                
                <div class="w-100 btn btn-secondary btn-md" id="generate-route-button-waiting" role="button" disabled>
                    <label for="generate-route-button-waiting" th:text="${generate_route_button_waiting}"></label>
                </div>
            </div>
            <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!-- en tom col-->
            </div>
        </div>
    </div>

    <footer class="container w-100 mt-auto pb-2">
        <div class="row row-md-3 row-lg-4">
            <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!--en tom col-->
            </div>
            <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                <a class="btn btn-secondary w-100" type="back" id="back-button" href="/">
                    <label for="back-button" th:text="${back_button}"></label>
                </a>
            </div>
            <div class="col-1 col-sm-2 col-md-3 col-lg-4"> <!-- en tom col-->
            </div>
        </div>
    </footer>
    
    <script>
        let hasLocation = false;

        // Hide the generate button if the user has not selected a location
        document.getElementById("generate-route-button").style.display = "none";
        document.getElementById("generate-route-button-waiting").style.display = "block";

        function onload(){
            let cookie = getCookie("hours", "0");
            document.getElementById("hours").value = cookie;

            cookie = getCookie("minutes", "00");

            if(cookie === "00"){
                document.getElementById("minutes").value = "00";
            } else {
                document.getElementById("minutes").value = cookie;
            }

            document.getElementById("customTime").value = getTimeSliderValue();
            document.getElementById("hours").value = Math.floor(getTimeSliderValue() / 4);
            document.getElementById("minutes").value = (getTimeSliderValue() % 4)*15;

            cookie = getCookie("distance", "0");
            document.getElementById("customDistance").value = parseFloat(cookie).toFixed(1);
            document.getElementById("distance").value = cookie;


            cookie = getCookie("elevation", "0");
            document.getElementById("Elevation").value = cookie;
            if (cookie === "low") {
                document.getElementById("low").checked = true;
            } else if (cookie === "medium") {
                document.getElementById("medium").checked = true;
            } else if (cookie === "high") {
                document.getElementById("high").checked = true;
            }

            cookie = getCookie("terrain", "0");
            document.getElementById("Terrain").value = cookie;
            if (cookie === "urban") {
                document.getElementById("urban").checked = true;
            } else if (cookie === "nature") {
                document.getElementById("nature").checked = true;
            } else if (cookie === "water") {
                document.getElementById("water").checked = true;
            }

            document.getElementById("customDistance").disabled = true;
            document.getElementById("disableLength").checked = true;

            toggleDarkMode();
            document.getElementById("nature").style.backgroundImage = "url('nature.png')";

            setInterval(function() {
                navigator.geolocation.getCurrentPosition(success);
            }, 1000);

        }

        function setTime(time){
            let hours = Math.floor(time / 4);
            let minutes = (time % 4)*15;
            setCookie("hours", hours, 9000);
            setCookie("minutes", minutes, 9000);
            if(minutes === 0){
                document.getElementById("minutes").value = "00";
            } else {
                document.getElementById("minutes").value = minutes;
            }
            document.getElementById("hours").value = hours;
        }

        function setDistance(distance){
            setCookie("distance", distance, 9000);
            document.getElementById("distance").value = parseFloat(distance).toFixed(1);
            document.getElementById("customDistance").value = parseFloat(distance).toFixed(1);
        }


        function generateRoute(){
            if (!hasLocation) {
                alert("We have been unable to find your location, please try again later");
                return;
            }

            let lat = getCookie("locationLat", "0");
            let lon = getCookie("locationLon", "0");
            let hours = document.getElementById("hours").value;
            let minutes = document.getElementById("minutes").value;
            let distance = document.getElementById("distance").value;
            let elevation = document.getElementById("Elevation").value;
            let terrain = document.getElementById("Terrain").value;
            let url = "/route-api/start?hours=" + hours + "&minutes=" + minutes + "&distance=" + distance + "&elevation=" + elevation + "&terrain=" + terrain + "&lat=" + lat + "&lon=" + lon;
            $.get(url, function(data) {
                let routeId = data.id;
                setCookie("routeID", routeId, 1);

                window.location.href = "/loading";
            }, "json");
        }

        function success(pos){
            setCookie("locationLat", pos.coords.latitude, 9000);
            setCookie("locationLon", pos.coords.longitude, 9000);
            document.getElementById("lat").value = pos.coords.latitude;
            document.getElementById("lon").value = pos.coords.longitude;
            
            if (!hasLocation) {
                hasLocation = true;
                document.getElementById("generate-route-button").style.display = "block";
                document.getElementById("generate-route-button-waiting").style.display = "none";
            }
        }

        function getTimeSliderValue(){
            let hours = getCookie("hours", "0");
            let minutes = getCookie("minutes", "0");

            return hours*4 + minutes/15;
        }

        function getDistanceSliderValue(){
            return getCookie("distance", "0");
        }

        function enableTime(){
            document.getElementById("customTime").disabled = false;

            document.getElementById("customTime").value = getTimeSliderValue();
            document.getElementById("hours").value = Math.floor(getTimeSliderValue() / 4);
            document.getElementById("minutes").value = (getTimeSliderValue() % 4)*15;
        }

        function disableTime(){
            document.getElementById("customTime").disabled = true;

            document.getElementById("customTime").value = 0;
            document.getElementById("hours").value = 0;
            document.getElementById("minutes").value = 0;
        }

        function enableDistance(){
            document.getElementById("customDistance").disabled = false;

            document.getElementById("customDistance").value = getDistanceSliderValue();
            document.getElementById("distance").value = getDistanceSliderValue();
        }

        function disableDistance(){
            document.getElementById("customDistance").disabled = true;

            document.getElementById("customDistance").value = 0;
            document.getElementById("distance").value = 0;
        }

        function toggleDisableLength(){
            if(document.getElementById("disableLength").checked){
                document.getElementById("disableTime").checked = false;

                enableTime();
                disableDistance();
            } else {
                document.getElementById("disableTime").checked = true;

                disableTime();
                enableDistance();
            }
        }


        function toggleDisableTime(){
            console.log("disableTime triggered!");
            if(document.getElementById("disableTime").checked){
                document.getElementById("disableLength").checked = false;

                disableTime();
                enableDistance();
            } else {
                document.getElementById("disableLength").checked = true;

                enableTime();
                disableDistance();
            }
        }




    </script>

    <!-- länk till js bibliotek -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script type = "text/javascript" src="/darkModeHandler.js"></script>
    <script type = "text/javascript" src="/cookieHandler.js"></script>
    <script type = "text/javascript" src="/locationHandler.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

    </body>
</html>