<!DOCTYPE html>
<html lang="en">
<!-- head= background, "the backend" of html. <link hfref: links to bootstrap -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


        <title>New Route</title>
    </head>
    <body onload="onload()">

   <!-- Do we need this?
    <div class="container">
    </div> -->

    <script>
        <!-- Script to be executed when page is loaded -->
        function onload(){
            toggleDarkMode();
        }

        if(!navigator.geolocation) {
            console.log("Your browser does not support this geolocation feature:(")
        }
        else {
            // should update location each time it changes
            navigator.geolocation.watchPosition(getPosition)
        }

        function getPosition(position) {
            var lat = position.coords.latitude;
            var long = position.coords.longitude;
            var accuracy = position.coords.accuracy;

            console.log(lat, long, accuracy)
        }


    </script>

    <!-- länk till js bibliotek -->
    <script type = "text/javascript" src="/darkModeHandler.js"></script>
    <script type = "text/javascript" src="/cookieHandler.js"></script>
    <script type = "text/javascript" src="/locationHandler.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

    </body>
</html>