<html>
<style>
    img.huechange { filter: hue-rotate(120deg); }
</style>
<head>
    <title>GraphHopper Form Sample</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.1/dist/leaflet.css"
          integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.1/dist/leaflet.js"
            integrity="sha256-NDI0K41gVbWqfkkaHj15IzU7PtMoelkzyKp8TOaFQ3s="
            crossorigin=""></script>
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {

            // create the tile layer with correct attribution
            var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            var osmAttrib = 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
            var osm = new L.TileLayer(osmUrl, {attribution: osmAttrib});

            // (1) change coordinates
            var latlng = [57.691430711424545,11.97191119194031];
            var map = L.map('map', {
                center: latlng,
                zoom: 15,
                layers: [osm]
            });

            //Testing purpose: Prints out the latlng in the browsers console.
            map.on('click', onMapClick);
            function onMapClick(e) {
                console.log(e.latlng);
            }
            // Correct code; TODO: insert a correct array including waypoints data.
            const waypoints = [
                [57.68939495267853,11.974072522154591],
                [57.690375578417566,11.973305940628054],
                [57.69218190152542,11.973670721054079],
                [57.69351221524594,11.972994804382326],
                [57.69710593033657,11.970380880735673],
                [57.69657814788056,11.966474609001716],
                [57.695820881360234,11.966646313253772],
                [57.69361783420163,11.966775091442805],
                [57.69370963050795,11.968148725459137],
                [57.69329654529788,11.96849213396321],
                [57.6934571901059,11.969350655223412],
                [57.692608059481266,11.970380880735673],
                [57.69309000092662,11.971582810499989],
                [57.69178185923145,11.972913518453298],
            ];

            var startPos = L.marker(waypoints[0]).addTo(map); //NOT THE CURRENT POSITION, ONLY A MOCK POS.
            var endPos = L.marker(waypoints[waypoints.length-1]).addTo(map);
            endPos._icon.classList.add("huechange");

            for(let i = 0; i < waypoints.length; i++){
                L.polyline([
                    waypoints[i],
                    waypoints[i+1]
                ]).addTo(map);
            }
        });

    </script>
</head>
<body>
<div>
    <div id="map" style="width: 100%; height: 100%"></div>
</div>
</body>

<!--
/*
            Copied code from https://stackoverflow.com/questions/9912145/leaflet-how-to-find-existing-markers-and-delete-markers && http://jsfiddle.net/nqDKU/
            Basically adds a marker on the map based on an onClick event. Adds the marker into the markers array (maybe change so we set the array when inputting)
            Then we can remove the remove marker function, make it not a marker but a point and at last even remove the point and just show a line.

            Then make a foreach marker in markers array print out a line from marker[A].latlng to marker[B].latlng.

            Currently adds a line between two points.

            Used for testing purposes for onClick event.



            var markers = new Array();
            var marker;
            var oldPoint = 0;
            var newPoint = 0;
            */

            const waypointsTest = [];
            function onMapClick(e) {
                /* Testing purposes for onClick event.
                if(newPoint === 0){
                    marker = new L.marker(e.latlng, {
                        draggable: true
                    });
                    //map.addLayer(marker);
                    //markers[marker._leaflet_id] = marker;
                    newPoint = e.latlng;
                }
                else{
                    marker = new L.marker(e.latlng, {
                        draggable: true
                    });
                    //map.addLayer(marker);
                    //markers[marker._leaflet_id] = marker;
                    oldPoint = newPoint;
                    newPoint = e.latlng;

                    L.polyline([
                        oldPoint,
                        newPoint
                    ]).addTo(map);
                }*/
                waypointsTest.push(e.latlng);
            }

            function generateRoute(){
                for(let i = 0; i < waypointsTest.length; i++){
                    L.polyline([
                        waypointsTest[i],
                        waypointsTest[i+1]
                    ]).addTo(map);
                }
            }
-->
</html>