<html>
<head>
    <title>GraphHopper Form Sample</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.1/dist/leaflet.css"
          integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.1/dist/leaflet.js"
            integrity="sha256-NDI0K41gVbWqfkkaHj15IzU7PtMoelkzyKp8TOaFQ3s="
            crossorigin=""></script>
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {

            // create the tile layer with correct attribution
            var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            var osmAttrib = 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
            var osm = new L.TileLayer(osmUrl, {attribution: osmAttrib});

            // (1) change coordinates
            var latlng = [57.69288261596026,11.981792449951172];
            var map = L.map('map', {
                center: latlng,
                zoom: 15,
                layers: [osm]
            });

            var marker = L.marker(latlng).addTo(map);

            /*
            Copied code from https://stackoverflow.com/questions/9912145/leaflet-how-to-find-existing-markers-and-delete-markers && http://jsfiddle.net/nqDKU/
            Basically adds a marker on the map based on an onClick event. Adds the marker into the markers array (maybe change so we set the array when inputting)
            Then we can remove the remove marker function, make it not a marker but a point and at last even remove the point and just show a line.

            Then make a foreach marker in markers array print out a line from marker[A].latlng to marker[B].latlng.
             */

            map.on('click', onMapClick);


            var markers = new Array();
            var marker;
            var oldPoint = 0;
            var newPoint = 0;
            function onMapClick(e) {
                if(newPoint === 0){
                    /*marker = new L.marker(e.latlng, {
                        draggable: true
                    });
                    map.addLayer(marker);*/
                    markers[marker._leaflet_id] = marker;
                    newPoint = e.latlng;
                }
                else{
                    /*marker = new L.marker(e.latlng, {
                        draggable: true
                    });
                    map.addLayer(marker);
                    markers[marker._leaflet_id] = marker;*/
                    oldPoint = newPoint;
                    newPoint = e.latlng;

                    L.polyline([
                        oldPoint,
                        newPoint
                    ]).addTo(map);
                }


            }
        });

    </script>
</head>
<body>
<div>
    <form target="_blank" method="get" action="https://graphhopper.com/maps/">
        <div>
            <div style="padding-top: 5px">
                From
            </div>
            <input id="startaddr" type="text" name="point" placeholder="Your Start Address">
        </div>
        <div>
            <div style="padding-top: 5px">
                To
            </div>
            <!-- (2) change address -->
            <input id="destinationaddr" type="text" value="Am Mainflecklein 10, Bayreuth, 95444" name="point">
        </div>
        <button class="btn-booking" type="submit">Find Route</button>
    </form>

    <div id="map" style="width: 600px; height: 400px">

    </div>
</div>
</body>
</html>