<!--
    This is the most basic HTML boilerplate with the Thymeleaf template engine.
-->

<!-- 
    <!DOCTYPE HTML> means this is a HTML document.
-->
<!DOCTYPE HTML>

<!--
    <html> is the root element of the HTML document.
    The ' xmlns:th="https://www.thymeleaf.org" ' is not important.
-->
<html xmlns:th="https://www.thymeleaf.org">

<!--
    HTML is divided into <head> and <body> tags.
    The <head> tag contains metadata and the document title.
-->
<head> 
    <title>Static webpage!</title>

    <!-- Defines charset, unimportant -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<!--
    The <body> is the content of the HTML document.
-->
<body>
    <!-- A <div> is a divider -->
    <div>
        <!-- <p> is a paragraph, each one is a line break -->
        <p>
            - Hello there!
        </p>
        <p>
            - Obiwan Kenobi, you are a bold one.
        </p>
    </div>
</body>
</html>